
  .color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    align-items: center;
  }

  .designbuttons {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
  }

  .invisible {
    display: none;
  }

  .patternmodal {
    position: relative;
    bottom: 550px;
    left: 0px;
    z-index: 999;
    border: 5px solid black;
    background-color: white;
  }

  .sockpatt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
