.card-cont {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
}

.design-card {
    height: 300px;
    width: 300px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

