.smallpage-cont {
    margin: 0 auto;
    height: 200px;
    width:200px;
}

svg {
    pointer-events: none;
}

path{
    pointer-events: auto;
}

.smallsock {
    height:200px;
    width: 200px;
    /* padding-top: 100px; */
    /* margin: 0 auto; */
    position: relative;
    /* top: -50px; */
    z-index: 1;
    
}

.smallrib {
    /* position:absolute; */
    position: relative;
    bottom: 220px;
    right: 37px;
    width: 61px;
    
}

.smallankle {
    /* position:absolute; */
    position: relative;
    bottom: 157px;
    right: 87px;
    width: 65px;
    /* z-index: -999; */
}

.smallheel {
    /* position:absolute; */
    position: relative;
    bottom: 204px;
    right: 144px;
    width: 35px;
    /* z-index: -999; */
}
.smallfoot {
    /* position:absolute; */
    position: relative;
    bottom: 191px;
    left: 19px;
    width: 162px;
    /* z-index: -999; */
}
.smalltoe {
    /* position:absolute; */
    position: relative;
    bottom: 242px;
    left: 85px;
    width: 30px;
    /* z-index: -999; */
}