

.sock-holder {
    height:600px;
    width: 1000px;
    padding-left: 300px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    z-index: -999;
}

.rib {
    /* position:absolute; */
    position: relative;
    bottom: 5px;
    left: 0px;
    width: 180px;
    fill: red;
    stroke: red;
}
.ankle {
    /* position:absolute; */
    position: relative;
    top: 120px;
    right: 149px;
    width: 190px;
}
.heel {
    /* position:absolute; */
    position: relative;
    top: 286px;
    right: 315px;
    width: 100px;
}
.foot {
    /* position:absolute; */
    position: relative;
    top: 264px;
    right: 414px;
    width: 462px;
}
.toe {
    /* position:absolute; */
    position: relative;
    bottom: 100px;
    left: 57px;
    width: 85px;
}