.page-cont {
    margin: 0 auto;
    height: 475px;
    width:750px;
}

svg {
    pointer-events: none;
}

path{
    pointer-events: auto;
}

.sock {
    height: 475px;
    width: 475px;
    margin-top: -10px;
    /* margin: 0 auto; */
    position: absolute;
    z-index: 1;
}

.rib {
    /* position:absolute; */
    position: relative;
    bottom: 76px;
    left:2px;
    width: 145px;
}

.ankle {
    /* position:absolute; */
    position: relative;
    top: 74px;
    right: 119px;
    width: 155px;
    /* z-index: -999; */
}

.heel {
    /* position:absolute; */
    position: relative;
    top: 59px;
    right: 222px;
    width: 83px;
    /* z-index: -999; */
}
.foot {
    /* position:absolute; */
    position: relative;
    top: 207px;
    right: 255px;
    width: 390px;
    /* z-index: -999; */
}
.toe {
    /* position:absolute; */
    position: relative;
    top: 90px;
    left: 52px;
    width: 70px;
    /* z-index: -999; */
}