.page-cont {
    margin: 0 auto;
    height: 600px;
}

.sock {
    height:600px;
    width: 600px;
    /* padding-top: 100px; */
    /* margin: 0 auto; */
    position: relative;
    /* top: -50px; */
    z-index: -899;
}

.rib {
    /* position:absolute; */
    position: relative;
    bottom: 657px;
    right: 105px;
    width: 185px;
    z-index: -999;
}

.ankle {
    /* position:absolute; */
    position: relative;
    bottom: 466px;
    right: 260px;
    width: 198px;
    z-index: -999;
}

.heel {
    /* position:absolute; */
    position: relative;
    bottom: 607px;
    right: 433px;
    width: 103px;
    z-index: -999;
}
.foot {
    /* position:absolute; */
    position: relative;
    bottom: 565px;
    left: 54px;
    width: 490px;
    z-index: -999;
}
.toe {
    /* position:absolute; */
    position: relative;
    bottom: 713px;
    left: 254px;
    width: 90px;
    z-index: -999;
}