
.addstashform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.addyarn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  background-image: url("https://i.imgur.com/PZUjlvn.png");
  height: auto;
}

.App-header {
  background-color: #f3bb00;
  width:100vw;
  height: 52px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  font-family: 'Akzidenz Grotesk', sans-serif;
  position: relative;
  z-index: 999;
}

h1, h2 {
  margin-bottom: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  margin: 0px;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  /* min-height: 100vh; */
}

.colorPick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colors {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.dash-divider {
  border-top: 10px dashed black;
  min-height: fit-content;
  width: 70vw;
  /* animation: dash-border-slide infinite alternate 5s linear; */
  background-color: white;
  margin: 0 auto;
}

.custButt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  /* filter: drop-shadow(0px 0px 1px rgb(0, 0, 0)); */
}

.delete {
  height:40px;
  width: 130px;
  background-color: rgb(174, 28, 2);
  /* border: 4px dotted rgb(228, 249, 228); */
  color: white;
  font-size: 30px;
}

.editDesign {
  height:40px;
  width: 130px;
  background-color: rgb(0, 76, 255);
  /* border: 4px dotted rgb(255, 255, 255); */
  font-size: 20px;
  color: white;
  font-size: 30px;
}

.knitStatus {
  height:40px;
  width: 150px;
  background-color: yellow;
  /* border: 5px dotted green; */
  font-size: 20px;
}

.showPatt {
  height:40px;
  width: 180px;
  background-color: yellow;
  /* border: 5px dotted green; */
  font-size: 20px;
}

.knitStatus:hover, .showPatt:hover {
  animation: wiggle 2s infinite alternate linear;
}

.logo {
  width: 960px;
  position: relative;
  bottom: 150px;
  
}

.statForm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
   5% { transform: rotate(0deg); }
   10% { transform: rotate(5deg); }
   15% { transform: rotate(-5deg); }
  20% { transform: rotate(5deg); }
  25% {transform: rotate(0deg);}
}

@keyframes dash-border-slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-300px);
  }
}

@media (max-width : 1260px) {

.App-header {
  font-size: 2.0em;
  padding-top: 20px;
  height: 50px;
}

}

@media (max-width : 950px) {

  .App-header {
    font-size: 1.75em;
    padding-top: 25px;
    height: 40px;
  }
  
  }

  @media (max-width : 825px) {

    .App-header {
      font-size: 1.5em;
      padding-top: 30px;
      height: 30px;
    }
    
    }